name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: /home/runner/work/tech-radar-tui/tech-radar-tui

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Install Moon
        run: |
          curl -fsSL https://moonrepo.dev/install.sh | bash -s -- --yes
          echo "$HOME/.moon/bin" >> "$GITHUB_PATH"
          "$HOME/.moon/bin/moon" --version

      - name: Moon check
        run: $HOME/.moon/bin/moon run tui:check

      - name: Moon fmt
        run: $HOME/.moon/bin/moon run tui:format

      - name: Moon lint
        run: $HOME/.moon/bin/moon run tui:lint

      - name: Moon test
        run: $HOME/.moon/bin/moon run tui:test
